:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #165bf7;
    --cor-de-fundo: #0c0004;
}

*{
    margin: 0;
    padding:0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.principal{
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 100vh;
}

.container-botao{
        background-color: var(--botao-azul);
        color:var(--branco-principal);
        border-radius: 6px
        ;
}
